
a
{
  background-color: #ebeeb0;
  font-family: sans-serif;
  font-size: 12pt;
  color: #555;
}

.linkit{
  position: absolute; top: 155px; left: 50px; width: 150px; height: 700px;
  border-radius: 10px;
  background-color: #ebeeb0;
  border: 5px solid #383a15;
  font-family: sans-serif;
  font-size: 12pt;
  text-align: center;
  padding: 2em;
  }

  .data {
    position: absolute; top: 155px; left:300px; width: 800px; height: 800px;
    padding: 25px;
    border-radius: 10px;
    background-color: #ebeeb0;
    border: 5px solid #383a15;
    font-family: sans-serif;
    font-size: 12pt;
    color: #555;
  }

  .ylapalkki{
    position: absolute; top: 25px; left: 50px; width: 1100px; height: 65px;
    border-radius: 10px;
    background-color: #ebeeb0;
    border: 5px solid #383a15;
    font-family: sans-serif;
    text-align: center;
    }

    body { background-color: #797d29;}
